body {
  min-height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}
.quote{
  /* height: 30%; */
  margin-left: 10%;
  width: 80%;
  left:10%;
  /* padding:0; */
  /* margin:0; */

}
.card{
  float: left;
  margin-top: 5%;
   margin-bottom: 5%;
}
div.jumbotron.head{
  margin-top:100px;
  /* margin-top:30%; */
  margin-left:20%;
  margin-right:20%;
}
a{
color:  #D68FD6;
}
a:hover{
color:  #d07cd0;
}
.aboveLinks{
  color: #bb44bb;
}
.hidden{
  opacity: 0.1;
}
.jumbotron{
  padding-top: 2%;
  padding-left: 0;
  padding-right: 0;
  text-align: center;

  }

  .head{
    border: 1px solid purple;
    border-top: 4px double purple;
    border-bottom: 4px double purple;
  }


  .hr1{
    background-color: purple;
    width: 50px;
  }
.carousel{
  width: 80%;
  left: 10%;
  margin-top: 5%;
}

/* .footer{
  background-color:  #f8ecf8;
} */
img.size{
  height: 390px;
  width: 590px;
}
.img-thumbnail{

  border: none;

  float: left;

}
h1.display-4{
    margin: 2% 9%;
}
p.lead{
    margin: 2% 9%;
}
.img{
    margin: 0 9%;
    /* padding: 0; */

}
a{
  /* color: white; */
}
.backgroundImg{
  background: url("imgs/buddingTree.jpg");
  background: cover;
  background: stretch;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 75%;
  margin-bottom: 0;
  padding-bottom: 0;
}
div.img.container.container-sm{
  padding: 0;


}
footer{
  color:  #f8ecf8;
}
.navbar{
  max-width:100%;
  padding: 0;
  height: 8%;
}
a.nav-link:hover{
  background-color: #CC8ACC;
}
.container{
  margin: 5% auto;
}

@media(max-width: 770px) {
  div.img.container.container-sm{
    padding: 0;
margin-top:1%;
  }
}
